.payment-error-container {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;

  >img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
  }
}

.payment-error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  >h1 {
    font-weight: 500;
    font-size: 70px;
  }

  >.notfound-btn {
    width: 255px;
    height: 55px;
    margin-top: 40px;
  }
}