.main-container {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 110px 0px 110px;
  min-height: 100vh;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.username {
  >span:nth-of-type(2) {
    color: var(--primary);
  }
}
.manager-container {
  display: flex;
  gap: 130px;
  flex: 1;
}