.reset-container {
  font-family: "Poppins";
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  >h1 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
  }

  >span {
    font-size: 14px;
    color: var(--text-gray-700);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-wrapper {
  position: relative;

  >i {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  >input {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    padding-right: 45px;
    border-radius: 5px;
    border: 1px solid var(--text-gray-500);
  }
}

.btn-reset {
  max-width: 150px;
  height: 40px;
}