.link-account-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 100px;
}

.link-account-wrapper {
  display: flex;
  flex-direction: column;
}

.link-title {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: var(--black);
  font-size: 25px;
  margin: 0 0 20px;
  color: var(--primary);
  padding-bottom: 10px;
}

.link-info-wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.link-info-item {
  display: flex;
  flex-direction: column;
}

.provider-title {
  font-weight: 500;
}

.provider-info-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.provider-info {
  align-items: center;
  display: flex;
  gap: 15px;
  width: 50%;

  >input {
    background-color: var(--white);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .84) !important;
    font-size: 17px;
    margin-bottom: 10px;
    outline: none;
    padding-bottom: 8px;
    width: 100%;

    &::placeholder {
      color: var(--text-gray-500);
    }
  }
}

.link-social-wrapper {
  margin-top: 70px;
}

.btn-link-provider,
.btn-facebook,
.btn-link-save {
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 30px;
  color: var(--text-gray-700);
  display: flex;
  font-size: 17px;
  gap: 8px;
  font-weight: 300;
  height: 37px;
  line-height: 37px;
  padding: 0 16px;
  transition: background-color .2s, border-color .2s, color .2s, fill .2s ease-in-out;

  &:hover {
    border-color: var(--text-gray-700);
  }
}

.btn-link-change {
  display: flex;
  gap: 15px;
  margin-top: -10px;
}

.btn-link-save {
  border-color: var(--primary);
  color: var(--primary);
  transition: all .2s ease-in-out;

  &:hover {
    background-color: var(--text-gray-200);
  }
}

.modal {
  font-size: 12px;
  font-family: "Montserrat";
}

.modal>.header {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  >svg {
    animation: Dialog .35s linear 1;
    color: #ffb817;
  }
}

.modal>.content {
  text-align: center;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;

  >p {
    font-size: 15px;

    >span {
      font-weight: 600;
    }
  }
}

.modal>.actions {
  width: 100%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f2f2f2;
}

.btn-cancel,
.btn-agree {
  border-bottom: 1px solid #f2f2f2;
  flex-basis: auto;
  flex-grow: 1;
  height: 48px;
  min-width: 50%;
  border-radius: 0;
  border-right: 1px solid #f2f2f2;
  appearance: auto;
  background-color: transparent;
}

.btn-text-cancel,
.btn-text-agree {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-gray-700);
}

.btn-text-agree {
  color: var(--primary);
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@keyframes Dialog {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}