.swiper-button-disabled {
    color: #e1e1e1;
}

.swiper-button-disabled:hover {
    background-color: var(--bg-gray) !important;
}

.snow-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    position: absolute;
    z-index: 1;
}